<h2>{{title}}</h2>
<p>The Trello-For-Hill app provides custom interfaces for the Trello system used by the Hill-PCI team in managing projects. Click the menu button at the upper right to open the naviagion system and interact with the following tools:</p>
<ul>
    <li>
        <b>Checklist to Cards</b>
        <p>Convert multiple checklist items to cards with links between the new cards and original checklist.</p>
    </li>
    <li>
        <b>Card Printer</b>
        <p>Simple report allowing you to select any/all cards in a board and produce a printable .doc file.</p>
    </li>
    <li>
        <b>Sprint Reporting</b>
        <p>Quick and easy sprint status report.
    </li>
</ul>
<br />
<h4>Latest Enhancements/Updates</h4>
<ul class="home-updates">
    <li>
        <span class="home-version">V 1.2.2 - 8/17/2016:</span>
        <ol>
            <li><u>Enhancement: </u>Cards created from checklist linkback to original checklist item</li>
            <li><u>Enhancement: </u>Save a preferred date format in board settings</li>
            <li><u>Bug Fix: </u>Milestone cards render all the time now</li>
        </ol>
    </li>
    <li>
        V 1.2.1 - 07/2016:
        <ol>
            <li>New report to print cards</li>
        </ol>
    </li>
    <li>
        V 1.2 - 07/2016:
        <ol>
            <li>New report setting to include card description and comment history</li>
            <li>Store sprint report number and dates in custom settings</li>
            <li>Improve ordering of lists in settings</li>
        </ol>
    </li>
    <li>
        V 1.1 - 06/2016:
        <ol>
            <li>Customized milestone schedule card interface</li>
            <li>Custome logos on reports</li>
            <li>Post sprint reports directly to a card</li>
        </ol>
    </li>
    <li>
        V 1.0 - 05/2016:
        <ol>
            <li>Initial Release</li>
        </ol>
    </li>
</ul>